@mixin cl-box {
  @include cl-gradient-box(#444, #222);

  padding: $av-gutter;
}

@mixin cl-gradient-box($inner-color, $outer-color) {
  background: radial-gradient(circle at top center, $inner-color 1%, $outer-color 100%);
}

@mixin cl-gradient-border($color) {
  position: relative;

  &::before {
    background: radial-gradient(center, ellipse, rgba($color, 0.9) 0%, rgba(0, 0, 0, 0) 80%);
    content: '';
    height: 10px;
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 100%;
    transition: opacity 200ms;
    width: 100%;
  }
}

@mixin cl-glow($color) {
  @include cl-gradient-border($color);

  cursor: pointer;
  transition: color 200ms;

  &::before {
    opacity: 0;
  }

  &:hover {
    @include cl-glow--hover;
  }
}

@mixin cl-glow--hover {
  color: #fff;

  &::before {
    opacity: 1;
  }
}

@mixin cl-title {
  @include cl-gradient-border(#444);

  font-size: 1.1rem;
  margin: 0 0 $av-gutter;
  padding-bottom: $av-gutter;

  &::before {
    height: 1px;
  }
}
