$av-width-class-namespace: 'grid__cell--';
$av-widths: (12);
$av-enable-grid-auto: true;
$av-enable-grid-middle: true;
$av-enable-grid-center: true;
$cl-primary-color: #cc4a24;
$cl-secondary-color: #e89b39;
$cl-application-header-height: 80px;
