.cl-spinner {
  width: 40px;
  height: 8px;
  display: flex;
  justify-content: space-around;

  &--inline {
    display: inline-flex;
    width: 30px;
    vertical-align: middle;
    margin-left: $av-gutter / 2;

    .cl-spinner__dot {
      width: 6px;
      height: 6px;
    }
  }

  &__dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: $cl-secondary-color;
    animation: pulse 0.85s infinite ease-in-out;

    &--one {
      animation-delay: -0.2s;
    }

    &--two {
      animation-delay: -0.1s;
    }
  }
}
